@model List<GenreModel>

@{
	ViewData["Title"] = "Genres";
}
<style>
	body {
		background-color: #4070f4;
	}

	.genre-form-container {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Poppins', sans-serif;
	}

	.genre-form-body {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #4070f4;
	}

	.genre-form-wrapper {
		background: #fff;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		width: 100%;
		max-width: 500px;
		margin-top: 10%;
	}

	.genre-form-group {
		margin-bottom: 15px;
	}

	.genre-form-label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
	}

	.genre-form-input {
		width: 100%;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	.genre-form-error {
		color: red;
		font-size: 12px;
	}

	.genre-form-check-label {
		margin-left: 5px;
	}

	.genre-form-submit-button {
		background-color: #4070f4;
		border: none;
		padding: 10px 20px;
		color: white;
		border-radius: 4px;
		cursor: pointer;
	}

		.genre-form-submit-button:hover {
			background-color: #3056d3;
		}

	.genre-form-back-link {
		display: block;
		margin-top: 15px;
		text-align: center;
		color: #4070f4;
		text-decoration: none;
	}

		.genre-form-back-link:hover {
			text-decoration: underline;
		}
</style>

<div class="genre-form-body">
	<div class="genre-form-wrapper">
		<h4>All Genre</h4>
		<hr />
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>@Html.DisplayNameFor(model => model.First().Id)</th>
						<th>@Html.DisplayNameFor(model => model.First().Name)</th>
						<th>@Html.DisplayNameFor(model => model.First().Description)</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var genre in Model)
					{
						<tr>
							<td>@Html.DisplayFor(modelItem => genre.Id)</td>
							<td>@Html.DisplayFor(modelItem => genre.Name)</td>
							<td>@Html.DisplayFor(modelItem => genre.Description)</td>
							<td>
								<div class="btn-group" role="group">
									<a asp-action="Edit" asp-route-id="@genre.Id" class="btn btn-primary btn-sm">Edit</a>
									<a asp-action="Delete" asp-route-id="@genre.Id" class="btn btn-danger btn-sm">Delete</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div>
			<a asp-controller="Home" asp-action="Dashboard" class="genre-form-back-link">Back to Dashborad</a>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}