@model IEnumerable<Lugx2025.Mapper.ViewModels.GameVM>

@{
	ViewData["Title"] = "AllGames";
}
<style>
	body {
		background-color: #007aff !important;
	}

	h1 {
		margin-top: 150px;
		color:white ;
	}

	table {
		width: 100%;
		color: white !important;
	}

	.img-thumbnail {
		width: 100px;
	}

	.formButton {
		background-color: #ee626b;
		color: white;
		padding: 5px 10px;
		border-radius: 5px;
		text-decoration: none;
	}
</style>
<h1>AllGames</h1>

<p>
	<a asp-action="Add" class="formButton">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)

			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhotoPath)

			</th>
			<th>
				@Html.DisplayNameFor(model => model.PriceBeforeSale)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PriceAfterSale)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.GenreName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.GameCode)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					<img src="@item.PhotoPath" alt="Photo" class="img-thumbnail" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PriceBeforeSale)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PriceAfterSale)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.GenreName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.GameCode)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="formButton">Edit</a> |
					<a asp-action="getbyId" asp-route-id="@item.Id" class="formButton">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id" class="formButton">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
